POSTGRES_USER=odoo
POSTGRES_PORT=5016
POSTGRES_PASSWORD=mo5XtWdK9mnjxYrN2GqG

ODOO_BLUE_HTTP_PORT=8518
ODOO_BLUE_LONGPOLLING_PORT=8572

ODOO_GREEN_HTTP_PORT=8618
ODOO_GREEN_LONGPOLLING_PORT=8672

# Redis
REDIS_EXTERNAL_PORT=5030
ODOO_SESSION_REDIS=1
ODOO_SESSION_REDIS_HOST=redis
ODOO_SESSION_REDIS_PORT=6379
ODOO_SESSION_REDIS_PASSWORD=xs2YedHGDiyQg7rz09XP
ODOO_SESSION_REDIS_SSL=false
ODOO_SESSION_REDIS_SSL_CERT_REQS=none
ODOO_SESSION_REDIS_CLUSTER=false
ODOO_SESSION_REDIS_URL=redis://:xs2YedHGDiyQg7rz09XP@redis:6379/0
ODOO_SESSION_REDIS_PREFIX=zerodowntime
ODOO_SESSION_REDIS_EXPIRATION=604800
ODOO_SESSION_REDIS_EXPIRATION_ANONYMOUS=10800
